<title>Test</title>

</head>

<body>
    <!-- Navigation Start -->
    <nav class="navbar navbar-expand-md navbar-light bg-light">
        <a class="navbar-brand" href="/">
            Jasdeep Sandhu
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Task 1
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/task2">Task 2
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/task3">Task 3
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/task4">Task 4
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/task5">Task 5
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/task6">Task 6
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <!-- Navigation End -->
    <!-- Formatting Start -->
    <br>
    <!-- Formatting End -->
    <!-- Data Table Start -->
    <p>
        <center>Total purchase costs in the United States</center>
        <br>
        <center>Total: <i>{{task}}</i></center>
    </p>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">item_id</th>
                <th scope="col">item_category</th>
                <th scope="col">cost</th>
            </tr>
        </thead>
        <tbody>
            {{#each data.Analytics}}
                {{#each usage_statistics.session_infos}}
                        {{#equal building_id 20}}
                            {{#each purchases}}
                                <tr>
                                    <th scope="row">{{item_id}}</th>
                                    <td>{{item_category_id}}</td>
                                    <td>{{cost}}</td>
                                </tr>
                            {{/each}}
                        {{/equal}}
                        {{#equal building_id 21}}
                            {{#each purchases}}
                                <tr>
                                    <th scope="row">{{item_id}}</th>
                                    <td>{{item_category_id}}</td>
                                    <td>{{cost}}</td>
                                </tr>
                            {{/each}}
                        {{/equal}}
                        {{#equal building_id 22}}
                            {{#each purchases}}
                                <tr>
                                    <th scope="row">{{item_id}}</th>
                                    <td>{{item_category_id}}</td>
                                    <td>{{cost}}</td>
                                </tr>
                            {{/each}}
                        {{/equal}}
                        {{#equal building_id 23}}
                            {{#each purchases}}
                                <tr>
                                    <th scope="row">{{item_id}}</th>
                                    <td>{{item_category_id}}</td>
                                    <td>{{cost}}</td>
                                </tr>
                            {{/each}}
                        {{/equal}}
                        {{#equal building_id 24}}
                            {{#each purchases}}
                                <tr>
                                    <th scope="row">{{item_id}}</th>
                                    <td>{{item_category_id}}</td>
                                    <td>{{cost}}</td>
                                </tr>
                            {{/each}}
                        {{/equal}}
                        {{#equal building_id 25}}
                            {{#each purchases}}
                                <tr>
                                    <th scope="row">{{item_id}}</th>
                                    <td>{{item_category_id}}</td>
                                    <td>{{cost}}</td>
                                </tr>
                            {{/each}}
                        {{/equal}}
                        {{#equal building_id 26}}
                            {{#each purchases}}
                                <tr>
                                    <th scope="row">{{item_id}}</th>
                                    <td>{{item_category_id}}</td>
                                    <td>{{cost}}</td>
                                </tr>
                            {{/each}}
                        {{/equal}}
                        {{#equal building_id 27}}
                            {{#each purchases}}
                                <tr>
                                    <th scope="row">{{item_id}}</th>
                                    <td>{{item_category_id}}</td>
                                    <td>{{cost}}</td>
                                </tr>
                            {{/each}}
                        {{/equal}}
                        {{#equal building_id 28}}
                            {{#each purchases}}
                                <tr>
                                    <th scope="row">{{item_id}}</th>
                                    <td>{{item_category_id}}</td>
                                    <td>{{cost}}</td>
                                </tr>
                            {{/each}}
                        {{/equal}}
                        {{#equal building_id 29}}
                            {{#each purchases}}
                                <tr>
                                    <th scope="row">{{item_id}}</th>
                                    <td>{{item_category_id}}</td>
                                    <td>{{cost}}</td>
                                </tr>
                            {{/each}}
                        {{/equal}}
                        {{#equal building_id 30}}
                            {{#each purchases}}
                                <tr>
                                    <th scope="row">{{item_id}}</th>
                                    <td>{{item_category_id}}</td>
                                    <td>{{cost}}</td>
                                </tr>
                            {{/each}}
                        {{/equal}}
                        {{#equal building_id 31}}
                            {{#each purchases}}
                                <tr>
                                    <th scope="row">{{item_id}}</th>
                                    <td>{{item_category_id}}</td>
                                    <td>{{cost}}</td>
                                </tr>
                            {{/each}}
                        {{/equal}}
                        {{#equal building_id 32}}
                            {{#each purchases}}
                                <tr>
                                    <th scope="row">{{item_id}}</th>
                                    <td>{{item_category_id}}</td>
                                    <td>{{cost}}</td>
                                </tr>
                            {{/each}}
                        {{/equal}}
                        {{#equal building_id 33}}
                            {{#each purchases}}
                                <tr>
                                    <th scope="row">{{item_id}}</th>
                                    <td>{{item_category_id}}</td>
                                    <td>{{cost}}</td>
                                </tr>
                            {{/each}}
                        {{/equal}}
                        {{#equal building_id 34}}
                            {{#each purchases}}
                                <tr>
                                    <th scope="row">{{item_id}}</th>
                                    <td>{{item_category_id}}</td>
                                    <td>{{cost}}</td>
                                </tr>
                            {{/each}}
                        {{/equal}}
                        {{#equal building_id 35}}
                            {{#each purchases}}
                                <tr>
                                    <th scope="row">{{item_id}}</th>
                                    <td>{{item_category_id}}</td>
                                    <td>{{cost}}</td>
                                </tr>
                            {{/each}}
                        {{/equal}}
                        {{#equal building_id 36}}
                            {{#each purchases}}
                                <tr>
                                    <th scope="row">{{item_id}}</th>
                                    <td>{{item_category_id}}</td>
                                    <td>{{cost}}</td>
                                </tr>
                            {{/each}}
                        {{/equal}}
                        {{#equal building_id 37}}
                            {{#each purchases}}
                                <tr>
                                    <th scope="row">{{item_id}}</th>
                                    <td>{{item_category_id}}</td>
                                    <td>{{cost}}</td>
                                </tr>
                            {{/each}}
                        {{/equal}}
                        {{#equal building_id 38}}
                            {{#each purchases}}
                                <tr>
                                    <th scope="row">{{item_id}}</th>
                                    <td>{{item_category_id}}</td>
                                    <td>{{cost}}</td>
                                </tr>
                            {{/each}}
                        {{/equal}}
                        {{#equal building_id 39}}
                            {{#each purchases}}
                                <tr>
                                    <th scope="row">{{item_id}}</th>
                                    <td>{{item_category_id}}</td>
                                    <td>{{cost}}</td>
                                </tr>
                            {{/each}}
                        {{/equal}}
                        {{#equal building_id 40}}
                            {{#each purchases}}
                                <tr>
                                    <th scope="row">{{item_id}}</th>
                                    <td>{{item_category_id}}</td>
                                    <td>{{cost}}</td>
                                </tr>
                            {{/each}}
                        {{/equal}}
                        {{#equal building_id 41}}
                            {{#each purchases}}
                                <tr>
                                    <th scope="row">{{item_id}}</th>
                                    <td>{{item_category_id}}</td>
                                    <td>{{cost}}</td>
                                </tr>
                            {{/each}}
                        {{/equal}}
                        {{#equal building_id 42}}
                            {{#each purchases}}
                                <tr>
                                    <th scope="row">{{item_id}}</th>
                                    <td>{{item_category_id}}</td>
                                    <td>{{cost}}</td>
                                </tr>
                            {{/each}}
                        {{/equal}}
                        {{#equal building_id 43}}
                            {{#each purchases}}
                                <tr>
                                    <th scope="row">{{item_id}}</th>
                                    <td>{{item_category_id}}</td>
                                    <td>{{cost}}</td>
                                </tr>
                            {{/each}}
                        {{/equal}}
                        {{#equal building_id 44}}
                            {{#each purchases}}
                                <tr>
                                    <th scope="row">{{item_id}}</th>
                                    <td>{{item_category_id}}</td>
                                    <td>{{cost}}</td>
                                </tr>
                            {{/each}}
                        {{/equal}}
                        {{#equal building_id 45}}
                            {{#each purchases}}
                                <tr>
                                    <th scope="row">{{item_id}}</th>
                                    <td>{{item_category_id}}</td>
                                    <td>{{cost}}</td>
                                </tr>
                            {{/each}}
                        {{/equal}}
                        {{#equal building_id 46}}
                            {{#each purchases}}
                                <tr>
                                    <th scope="row">{{item_id}}</th>
                                    <td>{{item_category_id}}</td>
                                    <td>{{cost}}</td>
                                </tr>
                            {{/each}}
                        {{/equal}}
                        {{#equal building_id 47}}
                            {{#each purchases}}
                                <tr>
                                    <th scope="row">{{item_id}}</th>
                                    <td>{{item_category_id}}</td>
                                    <td>{{cost}}</td>
                                </tr>
                            {{/each}}
                        {{/equal}}
                        {{#equal building_id 48}}
                            {{#each purchases}}
                                <tr>
                                    <th scope="row">{{item_id}}</th>
                                    <td>{{item_category_id}}</td>
                                    <td>{{cost}}</td>
                                </tr>
                            {{/each}}
                        {{/equal}}
                        {{#equal building_id 49}}
                            {{#each purchases}}
                                <tr>
                                    <th scope="row">{{item_id}}</th>
                                    <td>{{item_category_id}}</td>
                                    <td>{{cost}}</td>
                                </tr>
                            {{/each}}
                        {{/equal}}
                        {{#equal building_id 50}}
                            {{#each purchases}}
                                <tr>
                                    <th scope="row">{{item_id}}</th>
                                    <td>{{item_category_id}}</td>
                                    <td>{{cost}}</td>
                                </tr>
                            {{/each}}
                        {{/equal}}
                    {{/each}}
            {{/each}}
        </tbody>
    </table>
    <!-- Data Table End -->
    <!-- Formatting Start -->
    <br>
    <!-- Formatting End -->